@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

a:visited {
    color: orange;
}

a:hover, a:focus {
    /* color: blue; */
    border: 1px solid;
    border-radius: 4px;
    opacity: 0.4;
}

a:active{
    color: brown;
    background-color: yellow;
}



/* 1st :visited */
/* 2nd :hover */
/* 3rd :active */
/* focus is used for, 
for example, surfing using tab */

